.v-select{
  position: relative;
  height: 40px;
}
.v-select.ivu-select-single .ivu-select-selection{
  height: 100%;
  background-color: rgba(24, 83, 144, .5);
  border-color: #147bbc;
  border-radius: 0px;
}
.v-select.ivu-select-multiple .ivu-select-selection {
  height: 100%;
  background-color: rgba(24, 83, 144, .5);
  border-color: #147bbc;
  border-radius: 0px;
  line-height: 40px;
}
.v-select.ivu-select-multiple .ivu-tag {
  margin-top: 0;
  margin-bottom: 0;
}
.v-select.ivu-select-single .ivu-select-selection .ivu-select-placeholder, .v-select.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
//display: flex;
//justify-content: flex-start;
//align-items: center;
  height: 100%;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.v-select.ivu-select-multiple .ivu-select-selection .ivu-select-placeholder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  line-height: normal;
  font-size: 16px;
  color: #fff;
}
.v-select .ivu-select-dropdown{
  left: 0 !important;
  top: 42px !important;
  background-color: rgba(24, 83, 144, .5);
}
.v-select .ivu-select-not-found{
  color: #ddd;
}
.v-select .ivu-select-item{
  color: #eee;
  display: block;
  margin: 0;
}
.v-select.ivu-select-multiple .ivu-select-item-selected {
  color: #fff;
  background: rgba(45,140,240,.9);
}
.v-select.ivu-select-multiple .ivu-select-item-selected:after{
  margin-top: -5px;
  color: #fff;
}
.v-select .ivu-select-item:hover{
  background: rgba(45,140,240,.5)
}
.v-select .ivu-select-item-focus{
  background: rgba(45,140,240,.5)
}
.v-select .ivu-icon-arrow-down-b{
  width: 24px;
  height: 24px;
  margin-top: -12px;
}
.v-select .ivu-icon-arrow-down-b:before{
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url(../assets/image/select-icon.png) no-repeat;
}

