.estate-ranking-tab {
	.ivu-tabs-bar { margin: 0; border-bottom: 0; }
	.ivu-tabs-nav {
		.ivu-tabs-tab {
		  font-size: 18px; color: #1cb1ff; padding: 25px 25px;
	  }
	  .ivu-tabs-tab-active {
	  	color: #fff;
	  }
	}
}

.staff-defense-tab {
	height: 100%;
	.ivu-tabs-bar {
		margin: 0; border-bottom: 0;
		.ivu-tabs-ink-bar { height: 4px; bottom: initial; background-color: #1cb1ff; }
	}
	.ivu-tabs-nav {
		.ivu-tabs-tab {
		  font-size: 18px; font-weight: bold; color: #1cb1ff; padding: 16px 15px 12px 15px;
	  }
	  .ivu-tabs-tab-active {
	  	color: #fff; background: rgba(15, 145, 255, .2);
	  }
	}
	.ivu-tabs-tabpane {
	  padding: 0;
	}
}

.app-tabs-travel {
	.ivu-tabs-bar {
		border: 0; margin-bottom: 0;
	}
	.ivu-tabs-ink-bar {
		height: 0;
	}
	.ivu-tabs-tab {
		padding: 0; width: 72px; line-height: 36px; background: rgba(28, 177, 255, .4);
		text-align: center; font-size: 14px; color: #e8e8e8; font-weight: bold;
		&:hover {
			color: #e8e8e8; background: rgba(28, 177, 255, .4);
		}
	}
	.ivu-tabs-tab-active {
		background: rgba(28, 177, 255, .9);
		&:hover {
			background: rgba(28, 177, 255, .9);
		}
	}
}